.onlineGame {
  grid-row: 1;
  height: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  // background-color: cadetblue;

  .turnOrderContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1rem;

    .turnOrder {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  // .leftContainer {
  // display: flex;
  // justify-content: center;
  // flex-direction: column;
  // flex: 0.25;
  // width: 100%;
  // height: 100%;

  // .turnOrderContainer {
  //   display: flex;
  //   // flex-direction: column;
  //   justify-content: center;
  //   align-items: center;
  //   margin-top: 10px;
  //   color: white;
  //   flex: 1;

  //   .turnOrder {
  //     box-shadow: inset 0 0 10px 0 black;
  //     margin: 10px;
  //     background-color: #e9e9e9;
  //     width: 100%;
  //     color: black;
  //     padding: 10px;
  //     // height: -webkit-fill-available;
  //   }
  // }

  // .placesContainer {
  //   display: flex;
  //   flex-direction: column;
  //   justify-content: center;
  //   align-items: center;
  //   margin-top: 10px;
  //   color: white;
  //   flex: 1;

  //   .places {
  //     box-shadow: inset 0 0 10px 0 black;
  //     margin: 10px;
  //     background-color: #e9e9e9;
  //     width: -webkit-fill-available;
  //     color: black;
  //     padding: 10px;
  //     height: -webkit-fill-available;
  //   }
  // }
  // }

  .rightContainer {
    display: flex;
    flex: 1;
    // box-shadow: inset 0 0 10px 0 black;
    margin: 10px;
    // background-color: #e9e9e9;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
}
