.onlinePlayContainer {
  height: 100%;
  // width: fit-content;
  grid-row: 2;
  background-color: aquamarine;
  display: grid;
  grid-template-rows: 60% 40%;
  .createRoomButton {
    display: block;
  }
  .roomsContainer {
    grid-row: 1;
    display: flex;
    .room {
      width: 30%;
      height: 400px;
      // background-color: black;
      margin-left: 50px;
      margin-right: 50px;
      margin-top: 50px;
      border-radius: 8px;
      box-shadow: 0px 0px 5px black;
      background-color: white;
      border: 5px dashed darkgrey;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      font-size: 2em;
      text-align: center;
      color: darkgrey;
    }
  }
}
