.onlinePlayContainer {
  height: 100%;
  // width: fit-content;
  grid-row: 2;
  // background-color: aquamarine;
  display: grid;
  grid-template-rows: 70% 30%;

  // .gameroom {
  //   grid-row: 1;
  //   height: 100%;
  //   // display: flex;
  //   // flex: 1;
  //   background-color: bisque;
  // }

  .onlineGameAreaContainer {
    grid-row: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: aquamarine;

    .createRoomButton {
      display: block;
    }
    .roomsContainer {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      overflow-x: scroll;
      flex: 1;
      .room {
        width: 30%;
        height: 40%;
        // background-color: black;
        margin-left: 25px;
        margin-top: 25px;
        border-radius: 8px;
        box-shadow: 0px 0px 5px black;
        background-color: white;
        // border: 5px dashed darkgrey;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        font-size: 2em;
        text-align: center;
        color: darkgrey;
      }
    }
  }
}
